/pssif-doc.toc
/pssif-doc.out
/pssif-doc.log
/pssif-doc.idx
/pssif-doc.aux
/pssif-doc.synctex.gz
/pssif-doc.pdf
/acronyms.tex.aux
/pssif-doc.acn
/pssif-doc.acr
/pssif-doc.alg
/pssif-doc.bbl
/pssif-doc.glg
/pssif-doc.glo
/pssif-doc.gls
/pssif-doc.glsdefs
/pssif-doc.ilg
/pssif-doc.ind
/pssif-doc.ist
/acronyms.aux
/pssif-doc.blg
